DEPLOYMENT_URL=https://mihaiandreineacsu.github.io/
DEPLOYMENT_BRANCH=main
BASE_URL=/dev-blog-template/
GITHUB_ORG=spmse
GITHUB_PROJECT=dev-blog-template
GIT_REPOSITORY_URL=https://github.com/mihaiandreineacsu
